adf-demo2020/PartialArmTemplates/ArmTemplate_10_24_2020_17_45_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-demo2020"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyBlobToDL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy from blob to datalake",
				"activities": [
					{
						"name": "Copy_To_DL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "00:02:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "mycontainer/Azure/Demo.txt"
							},
							{
								"name": "Destination",
								"value": "mycontainer//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DemoTXT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSVFile",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy To SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy_To_DL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "Country.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"enableSkipIncompatibleRow": true,
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage",
									"type": "LinkedServiceReference"
								},
								"path": "mycontainer"
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "Rank",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "CountryName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVFile",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CountryTable",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-03T12:31:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DemoTXT')]",
				"[concat(variables('factoryId'), '/datasets/CSVFile')]",
				"[concat(variables('factoryId'), '/datasets/CountryTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyFromLocal')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CompanyIntID",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompanyIntID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompanyName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Department",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CompanyPhone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompanyPhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CompanyFax",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "CompanyFax",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OtherPhoneCaption",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OtherPhoneCaption",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OtherPhone",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "OtherPhone",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WebPage",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "WebPage",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReferredBy",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ReferredBy",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DBNum",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "DBNum",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SICorNAICSCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "SICorNAICSCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Address3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "ZipCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Description",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Description",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "Categories",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Categories",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Groups",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Groups",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Owners",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Owners",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserIDs",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserIDs",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Private",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Private",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "CreateDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "EditDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "EditDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "MergeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "MergeDate",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "Archived",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "Archived",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "UserField1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField3",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField4",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField5",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField5",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField6",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField6",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField7",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField7",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField8",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField8",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField9",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField9",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UserField10",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "UserField10",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Notes",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Notes",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "Field1",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Field1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Field2",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "Field2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Field3",
											"type": "String",
											"physicalType": "ntext"
										},
										"sink": {
											"name": "Field3",
											"type": "String",
											"physicalType": "ntext"
										}
									},
									{
										"source": {
											"name": "uuCoUserIDs",
											"type": "String",
											"physicalType": "nvarchar"
										},
										"sink": {
											"name": "uuCoUserIDs",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Company",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQLCompany",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-04T11:39:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Company')]",
				"[concat(variables('factoryId'), '/datasets/AzureSQLCompany')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dummy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DLPpt",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems",
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-11T13:08:43Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DLPpt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyPPT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "00:01:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PPT",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DLPpt",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-09-27T12:02:45Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/PPT')]",
				"[concat(variables('factoryId'), '/datasets/DLPpt')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SalesforceSource",
								"query": "SELECT Name, emailid__c,Course__c FROM Student__C",
								"readBehavior": "query"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "emailId__c",
											"type": "String"
										},
										"sink": {
											"name": "email"
										}
									},
									{
										"source": {
											"name": "Course__c",
											"type": "String"
										},
										"sink": {
											"name": "Course"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SalesForceStudent",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "CSVFile",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Company",
								"type": "DatasetReference"
							},
							"fieldList": [
								"structure"
							]
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-04T13:07:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SalesForceStudent')]",
				"[concat(variables('factoryId'), '/datasets/CSVFile')]",
				"[concat(variables('factoryId'), '/datasets/Company')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AzureSQLCompany",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSQLCompany",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": [],
				"lastPublishTime": "2020-10-17T13:03:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSQLCompany')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQLCompany')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyDemoDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CompanyIntID",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "Department",
						"type": "nvarchar"
					},
					{
						"name": "CompanyPhone",
						"type": "nvarchar"
					},
					{
						"name": "CompanyFax",
						"type": "nvarchar"
					},
					{
						"name": "OtherPhoneCaption",
						"type": "nvarchar"
					},
					{
						"name": "OtherPhone",
						"type": "nvarchar"
					},
					{
						"name": "WebPage",
						"type": "nvarchar"
					},
					{
						"name": "ReferredBy",
						"type": "nvarchar"
					},
					{
						"name": "DBNum",
						"type": "nvarchar"
					},
					{
						"name": "SICorNAICSCode",
						"type": "nvarchar"
					},
					{
						"name": "Address1",
						"type": "nvarchar"
					},
					{
						"name": "Address2",
						"type": "nvarchar"
					},
					{
						"name": "Address3",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "ntext"
					},
					{
						"name": "Categories",
						"type": "nvarchar"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Owners",
						"type": "nvarchar"
					},
					{
						"name": "UserIDs",
						"type": "nvarchar"
					},
					{
						"name": "Private",
						"type": "bit"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EditDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "MergeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Archived",
						"type": "bit"
					},
					{
						"name": "UserField1",
						"type": "nvarchar"
					},
					{
						"name": "UserField2",
						"type": "nvarchar"
					},
					{
						"name": "UserField3",
						"type": "nvarchar"
					},
					{
						"name": "UserField4",
						"type": "nvarchar"
					},
					{
						"name": "UserField5",
						"type": "nvarchar"
					},
					{
						"name": "UserField6",
						"type": "nvarchar"
					},
					{
						"name": "UserField7",
						"type": "nvarchar"
					},
					{
						"name": "UserField8",
						"type": "nvarchar"
					},
					{
						"name": "UserField9",
						"type": "nvarchar"
					},
					{
						"name": "UserField10",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "ntext"
					},
					{
						"name": "Field1",
						"type": "nvarchar"
					},
					{
						"name": "Field2",
						"type": "nvarchar"
					},
					{
						"name": "Field3",
						"type": "ntext"
					},
					{
						"name": "uuCoUserIDs",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Companies"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CSVFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "StudentDetails.csv",
						"fileSystem": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Company')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OnPremSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "CompanyIntID",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "Department",
						"type": "nvarchar"
					},
					{
						"name": "CompanyPhone",
						"type": "nvarchar"
					},
					{
						"name": "CompanyFax",
						"type": "nvarchar"
					},
					{
						"name": "OtherPhoneCaption",
						"type": "nvarchar"
					},
					{
						"name": "OtherPhone",
						"type": "nvarchar"
					},
					{
						"name": "WebPage",
						"type": "nvarchar"
					},
					{
						"name": "ReferredBy",
						"type": "nvarchar"
					},
					{
						"name": "DBNum",
						"type": "nvarchar"
					},
					{
						"name": "SICorNAICSCode",
						"type": "nvarchar"
					},
					{
						"name": "Address1",
						"type": "nvarchar"
					},
					{
						"name": "Address2",
						"type": "nvarchar"
					},
					{
						"name": "Address3",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "State",
						"type": "nvarchar"
					},
					{
						"name": "ZipCode",
						"type": "nvarchar"
					},
					{
						"name": "Country",
						"type": "nvarchar"
					},
					{
						"name": "Description",
						"type": "ntext"
					},
					{
						"name": "Categories",
						"type": "nvarchar"
					},
					{
						"name": "Groups",
						"type": "nvarchar"
					},
					{
						"name": "Owners",
						"type": "nvarchar"
					},
					{
						"name": "UserIDs",
						"type": "nvarchar"
					},
					{
						"name": "Private",
						"type": "bit"
					},
					{
						"name": "CreateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EditDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "MergeDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Archived",
						"type": "bit"
					},
					{
						"name": "UserField1",
						"type": "nvarchar"
					},
					{
						"name": "UserField2",
						"type": "nvarchar"
					},
					{
						"name": "UserField3",
						"type": "nvarchar"
					},
					{
						"name": "UserField4",
						"type": "nvarchar"
					},
					{
						"name": "UserField5",
						"type": "nvarchar"
					},
					{
						"name": "UserField6",
						"type": "nvarchar"
					},
					{
						"name": "UserField7",
						"type": "nvarchar"
					},
					{
						"name": "UserField8",
						"type": "nvarchar"
					},
					{
						"name": "UserField9",
						"type": "nvarchar"
					},
					{
						"name": "UserField10",
						"type": "nvarchar"
					},
					{
						"name": "Notes",
						"type": "ntext"
					},
					{
						"name": "Field1",
						"type": "nvarchar"
					},
					{
						"name": "Field2",
						"type": "nvarchar"
					},
					{
						"name": "Field3",
						"type": "ntext"
					},
					{
						"name": "uuCoUserIDs",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Companies"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CountryTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MyDemoDatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Rank",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "CountryName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Country"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DLPpt')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Azure",
						"fileSystem": "mycontainer"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DemoTXT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Country.csv",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PPT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ADF_V2.pptx",
						"folderPath": "Azure",
						"container": "mycontainer"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesForceStudent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Salesforce",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SalesforceObject",
				"schema": [],
				"typeProperties": {
					"objectApiName": "Student__c"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Salesforce')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://mydatalakedemo.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "https://SQLVault2020.vault.azure.net/"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Salesforce')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Salesforce",
				"typeProperties": {
					"environmentUrl": "https://login.salesforce.com",
					"username": "ram@grandhi.info",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "SalesforcePwd"
					},
					"securityToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "SalesForceSecurityToken"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		}
	]
}